<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crossword Solver</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <h1>Crossword Solver</h1>
        <p>A simple word cookies solver created to circumvent English assignments</p>
    </header>
    <main>
        <table id="board">
            {% for row in range(11) %}
                <tr>
                    {% for col in range(11) %}
                        <td class="unavailable"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <div id="solutions"></div>
        <div id="controls">
            <p>0 / 0</p>
            <button id="previous">Prev</button>
            <button id="next">Next</button>
            <p></p>
        </div>
        <form>
            <div class="formInput">
                <label for="letters" autocomplete="off">Letters:</label>
                <input id="letters" type="text">
            </div>
            <br>
            <div id="error"></div>
            <br>
            <button id="solve">Solve it!</button>
        </form>
    </main>
</body>
<script src="/scripts/jquery-3.5.0.min.js"></script>
<script src="/scripts/jquery.color-2.1.2.min.js"></script>
<script src="/scripts/main.js"></script>
</html>
